/* Color Palette https://www.colourlovers.com/palette/189189/.infrared */

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Lobster|Lobster+Two:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


* {
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #333;
    height: 60px;
    position:fixed;
    z-index: 3;
}
header h1 {
    margin: 10px;
    margin-left: 25px;
    color: coral;
    float: left;
    font-family: Lobster Two;
}
header #navbar {
    float: right;
    padding: 20px;
    /* background-color: #f4f4f4;*/
    font-family: Helvetica;
}
header a {
    background-color: coral;
    text-decoration:none;
    color: #333; 
    font-size: 20px;
    padding: 20px;
}
header a:hover{
    background-color: #f4f4f4;
    color: coral;
}
#showcase{
    min-height: 960px; 
    background-image: url(../images/showcase.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 3px 3px 13px gray;
}

#showcase h1{
    text-align: center;
    padding-top: 400px;
    font-size: 96px;
    font-family: Helvetica, sans-serif;
    text-shadow: 4px 4px 8px grey;
    color: #f4f4f4; 
    
	line-height: 1.6em;
}
#showcase p{
    color:#f4f4f4;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    text-shadow: 4px 4px 8px grey;

}
#container{
    box-shadow: 4px 12px grey;
    background-color: #f4f4f4;
    width: 90%;
    margin: auto;
}
.info{
    font-family: Helvetica, sans-serif; 
    font-size: 12px;
    width:100%;
    background-color: #333;
    box-shadow: 5px 5px 3px #222;


}
.txt {
    padding: 50px;
}
.container{
    padding-top: 25px;
    padding-bottom: 300px;
    background-color: #f4f4f4;
    width: 75%;
    margin: auto;

    box-shadow: 3px 3px 10px #222;
}
#socialbar ul{
    list-style-type: none;
    opacity: ;
}
#socialbar li {
    padding: 10px;
    margin: 10px 0px;
    background-color: coral;
    box-shadow: 3px 3px 1px #222;

}
#socialbar li a {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    width: 30px;
    height: 30px;
    margin: auto;
    color: #f4f4f4;
    text-decoration: none;
    text-align: center;
    

}
#socialbar {
    position:fixed;
    top: 35%;

}
.info #about {
    /*border: 1px solid black;*/
    padding: 75px;
    width: 75%;
    height: 300px;
    margin: auto;
    border: 50px;
    text-align: center;

}
.info .class h1{
    text-align: center;
    padding: 10px 10px 50px 10px;
}
.info #about p {
    padding: 50px;
}

.info #skills{
    padding: 65px;
    height: 300px;
}
.info #skills h1 {
    text-align: center;
    padding: 10px 10px 50px 10px;
}
.info #skills p{
    text-align: center;
}
.info #skills ul{
    list-style-type: none;
    width: 500px;
    margin: auto;
}
.info #skills li{
    display: inline;
    padding: 20px;
    position: relative;
    margin-right: 20px;
    /* top: 25px; */
    line-height: 80px;
    background-color: coral;
    border: 20px;
    z-index: 1;
}
.info #skills li:hover {
    background-color: #333;;
    color: coral;
}


.info #projects{
    padding: 65px;
    height: 300px;
}
.info #projects h1 {
    text-align: center;
    padding: 10px 10px 50px 10px;
}
.info #projects p{
    text-align: center;
}



.info #contact{
    padding: 65px;
    height: 300px;
}
.info #contact h1 {
    text-align: center;
    padding: 10px 10px 50px 10px;
}
.info #contact p {
    text-align: center;
    padding-bottom: 10px;
}
.info #contact .contactform {
    text-align: center;
    padding-bottom: 50px;
}
.info #contact .contactform .form-group {

    padding:5px;
}
footer{
    background-color: #333;
    margin: auto;
    padding: 100px;
}
footer p{
    text-align: center;
    color: #f4f4f4;
    font-family: Helvetica;
}