@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Lobster|Lobster+Two:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: aquamarine;
    height: 70px;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
}
body {
    margin-top: 70px;
    
}
ul {
    list-style-type: none;
    margin:0px 0px 0px 0px;
}
h1 { 
    color: coral;
    font-family: Lobster, Cursive;
    padding-top: 10px;
    padding-left: 20px;
    float:left;
    text-decoration: none;
}

li {
    background-color: #dddddd;
    text-align: center;
    padding-top: 25px;
    padding-right: 10px;
    color: blue;
    width: 100px;
    height: 70px;
    float: right;
    font-family: Lato;
    font-size: 14px;
    
}
body {
    margin-top: 80px;
    background-color: darkgoldenrod;
}
.info {

}
#about_me {
    margin: 50px auto;
    color: red; 
    width: 500px;
    padding: 10px;
    background-color: blueviolet;

    border: 2px solid white;
    border-radius: 10px;
}
#contact {
    
    margin: 50px auto;
    color: red; 
    width: 500px;
    padding: 10px;
    background-color: blueviolet;
    margin-top: 1000px;
}